<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frizer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Frizer">
        <activity
            android:name=".admin.QRSkenerActivity"
            android:exported="false" />
        <activity
            android:name=".user.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".user.QRActivity"
            android:label="@string/title_activity_q_r"
            android:theme="@style/Theme.Frizer.NoActionBar" />
        <activity android:name=".admin.AdminTermini" />
        <activity android:name=".user.UserLogin" />
        <activity
            android:name=".user.UserRegister"
            android:label="@string/title_activity_user_register"
            android:theme="@style/Theme.Frizer.NoActionBar" />
        <activity android:name=".admin.AdminActivity" />
        <activity
            android:name=".user.TerminAddActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".admin.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SplashScreenActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
     </application>

</manifest>